<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню-Чёрная-Жемчужина</title>
    <style>
        body{background-image: url('https://kartinki.pics/uploads/posts/2021-07/thumbs/1626140047_50-kartinkin-com-p-chernoe-derevo-tekstura-besshovnaya-krasiv-54.jpg');
}
    .body-background {
    background-image: url('https://img.freepik.com/premium-photo/white-craft-paper-texture-background_485324-763.jpg');
    margin: 30px 90px 30px;}
.line {
    border-bottom: 1px solid black; /* Параметры линии */
   }
    p { font-family: Montserrat; font-weight: 500; font-size: 16px; margin: 20px 50px 20px 50px; }
    h1 {font-family: Montserrat; font-weight: 500; text-align: center; font-size: 36px; }
        h3 {text-align: center; font-size: 28px; }
    .up{padding-top: 10px;}

        ul.nav1{
                margin-left: 0px;
                padding-left: 50px;
                padding-top: 0px;
                list-style: none;
            }
            .nav1 li {
                display: inline;

            }
            ul.nav1 a {
                display: inline-block;
                height: 1.2em;
                width: 14.8em;
                padding:10px;
                background-color: #f4f4f4;

                text-decoration: none;
                color: #333;
                text-align: center;
            }
            ul.nav1 a:hover{
                background-color: #333;
                color: #f4f4f4;
                box-shadow: 0 0 5px #595959;
            }



        ul.nav{
                margin-left: 0px;
                padding-left: 35px;
                padding-top: 10px;
                list-style: none;

            }
            .nav li {
                display: inline;
                padding:8px;


            }
            ul.nav a {
                background-color: #333;
                color: #f4f4f4;
                box-shadow: 0 0 5px #595959;

                display: inline-block;
                height: 1.7em;
                width: 10.5em;
                padding:10px;


                text-decoration: none;
                text-align: center;

            }
            ul.nav a:hover{
                display: inline-block;
                height: 1.7em;
                width: 10em;
                padding:10px;
                background-color: #f4f4f4;

                text-decoration: none;
                color: #333;
                text-align: center;
            }
        .img5{
        width: 600px;
height: 700px;
padding-left: 35px;
position: absolute;


        }
        .img6{
        width: 600px;
height: 700px;
padding-left: 670px;
position: absolute;

        }

        .text1{padding-left: 450px;
        padding-top: 0px;}
  </style>

</head>
<body>
<menu>
        <ul class="nav1">
            <li><a href="http://127.0.0.1:8000/">главная</a></li>
            <li><a href="http://127.0.0.1:8000/menu/">меню</a></li>
            <li><a href="http://127.0.0.1:8000/photo/">фото</a></li>
            <li><a href="http://127.0.0.1:8000/reviews/">отзывы</a></li>
            <li><a href="http://127.0.0.1:8000/contacts/">контакты</a></li>
        </ul>
  </menu>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
</style>

<div class = body-background>
    <br>
		<h1>Меню</h1>
<p align="justify">Обширное русско-европейское меню Черной Жемчужины удивит вас своим богатым ассортиментом. И вы лишите себя большого удовольствия, если не отведаете хотя бы одно из наших замечательных горячих блюд и закусок. Их креативные названия, оригинальные рецепты, отменный вкус и артистическое оформление обязательно произведут на вас неотразимое впечатление. В меню также представлен широкий выбор вин, аперитивов, традиционных крепких и мягких алкогольных напитков, коктейлей, приготовленных как по классическим, так и по оригинальным рецептам.</p>

    <ul class="nav">
<li><a href="#cold">Холодный закуски</a></li>
<li><a href="#sal">Салаты</a></li>
<li><a href="#hot">Горячие закуски</a></li>
<li><a href="#sup">Супы</a></li>
<li><a href="#pasta">Паста</a></li>
<li><a href="#hot-melt">Рыбные блюда</a></li>
        <br></br>
<li><a href="#melt">Мясные блюда</a></li>
<li><a href="#burger">Бургеры</a></li>
<li><a href="#pivo">Пиво</a></li>
<li><a href="#tort">Десерты</a></li>
<li><a href="#coffe">Кофе-чай</a></li>
<li><a href="#drink">Напитки и Коктейли</a></li>
        </ul>

<table class="menu_eda">
<tbody>


 <img id="cold" src="{% static 'for_menu.jpg' %}" class="img5" />
  <img  src="{% static 'for_menu1.jpg' %}" class="img6" />
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<tr>
<td>Лимон </td>
<td class="ves">50г</td>
<td class="cena">100р</td>

</tr>
<tr>
<td>Маслины/Оливки</td>
<td class="ves">50г</td>
<td class="cena">200р</td>
</tr>
<tr>
<td>Фирменные Булочки<br />
<span class="sostav">Французская, мульти злаковая, ржаная</span></td>
<td class="ves">3шт</td>
<td class="cena">180р</td>
</tr>
<tr>
<td>Овощное ассорти «Колумб»<br />
<span class="bla">Он многое привез. </span><span class="sostav">(нарезка свежих овощей с зеленью)</span></td>
<td class="ves">200г</td>
<td class="cena">350р</td>
</tr>
<tr>
<td>Русский разносол «Емеля»<br />
<span class="bla">Лень &#8212; привычка отдыхать заблаговременно! </span><span class="sostav">(Огурцы соленые, помидоры черри, черемша, чеснок, капуста, перец «Паппирони&#187;, зелень)<br />
</span></td>
<td class="ves">180г</td>
<td class="cena">350р</td>
</tr>
<tr>
<td>Грибочки «Закуска Пьяного Лесника»<br />
<span class="bla">Что выросло, то выросло! </span><span class="sostav">(Грибное ассорти: маринованные опята, маслята, лисички, белые и другие лесные грибы)</span></td>
<td class="ves">150г</td>
<td class="cena">420р</td>
</tr>
<tr>
<td>Селедочка с картошкой «Полундра»<br />
<span class="bla">Это Вам не заливная рыба!</span> <span class="sostav">(Филе сельди с картофелем и зелёным луком)</span></td>
<td class="ves">100/100</td>
<td class="cena">420р.</td>
</tr>
<tr>
<td>Сёмушка «Морская Грамота»<br />
<span class="bla">Ручная работа, грамотно и со вкусом! </span><span class="sostav">(Слабо-соленая семга «Шеф-Посола» с лимоном и зеленью)</span></td>
<td class="ves">70/10г</td>
<td class="cena">490р.</td>
</tr>
<tr>
<td>Сырные Шарики «Яйца Судьбы»<br />
<span class="bla">От судьбы не уйдешь, а если ушел – значит, не судьба! </span><span class="sostav">(Шарики из нежного сыра «Холданд» с чесноком и грецкими орехом)</span></td>
<td class="ves">150г</td>
<td class="cena">490р.</td>
</tr>
<tr>
<td>Язык говяжий «Болтливый Боцман»<br />
<span class="bla">Налить всем по чарке! </span><span class="sostav">(Говяжий язык, сливочный хрен)</span></td>
<td class="ves">70/20г</td>
<td class="cena">520р.</td>
</tr>
<tr>
<td>Рулетики из баклажан/ветчины «Мёртвая Петля»<br />
<span class="bla">Ну и закрутило! </span><span class="sostav">(Рулетики с начинкой из творожного сыра, сыра «Фета», чеснока, зелени и грецкого ореха)</span></td>
<td class="ves">4/3 шт</td>
<td class="cena">490р.</td>
</tr>
<tr>
<td>Мясное ассорти «Украл, Выпил, В тюрьму!»<br />
<span class="bla">Честно взятое на абордаж! </span><span class="sostav">(Колбаса с/к, карбонат в/к, куриный рулет, буженина, зелень)</span></td>
<td class="ves">180г</td>
<td class="cena">750р.</td>
</tr>
<tr>
<td>Сырное ассорти «Мечта Робинзона»<br />
<span class="bla">Смелые мечты сбываются у смелых людей! </span><span class="sostav">(Ассорти из нескольких видов сыров, фрукты и мёд)</span></td>
<td class="ves">180/60/30г</td>
<td class="cena">850р.</td>
</tr>

</tbody>
</table>
<div id="tabs-132-0-1">
<article id = "sal"><h3>Салаты</h3></article>
<table class="menu_eda1">
<tbody>
<tr>

<td>Салат «Греческий»<br />
<span class="bla">Лучше есть мало, но часто!</span> <span class="sostav">(Помидоры, огурцы, перец болгарский, лук, маслины, оливки, салат листовой, сыр рассольный)</span></td>
<td class="ves">180г</td>
<td class="cena">410р.</td>
</tr>
<tr>
<td>Салат «Капрезе»<br />
<span class="bla">Мешкать не стоит!</span> <span class="sostav">(Салат со свежими помидорами, сыром Моцарелла, базилик, соус &#171;Песто&#187;)</span></td>
<td class="ves">200г</td>
<td class="cena">460р.</td>
</tr>
<tr>
<td>Салат «Элизабет»<br />
<span class="bla">Дамский каприз!</span> <span class="sostav">(Жареная куриная грудка, ананас, сыр, грецкие и кедровые орехи, зелень, соус)</span></td>
<td class="ves">180г</td>
<td class="cena">460р.</td>
</tr>
<tr>
<td>Салат «Одноногий Сильвер»<br />
<span class="bla">Далеко не убежит!</span> <span class="sostav">(Печень куриная, грибы шампиньоны, брокколи, , соус «Зернистый»)</span></td>
<td class="ves">180г</td>
<td class="cena">530р.</td>
</tr>
<tr>
<td>Салат «Цезарь» классический<br />
<span class="bla">Тот самый!</span> <span class="sostav">филе куриное, салат Айзберг, Салат Романо, сыр &#171;Пармезан&#187;, гренки, помидоры «Черри», соус «Цезарь»)</span></td>
<td class="ves">180г</td>
<td class="cena">560р.</td>
</tr>
<tr>
<td>Салат «Пиратский сундук»<br />
<span class="bla">Бочонок не с ромом, но тоже от пуза!</span> <span class="sostav">(Салат Айсберг, салат Романо, фасоль стручковая, буженина запечённая, томаты вяленые, кедровые орехи, пармезан, соус)</span></td>
<td class="ves">180г</td>
<td class="cena">590р.</td>
</tr>
<tr>
<td>Салат с языком «Кок на раздаче»<br />
<span class="bla">Не проглоти язык!</span> <span class="sostav">(Язык говяжий, жаренное яйцо, сыр, помидоры, чеснок, соус)</span></td>
<td class="ves">180г</td>
<td class="cena">630р.</td>
</tr>
<tr>
<td>Салат «Аве Цезарь» с креветками<br />
<span class="bla">Тот самый, которого Брут!</span> <span class="sostav">Тигровые креветки или сёмга с/с, салат листовой, сыр &#171;Памезан&#187;, гренки, помидоры «Черри», соус «Цезарь»)</span></td>
<td class="ves">180г</td>
<td class="cena">670р.</td>
</tr>
<tr>
<td>Фирменный Салат «Сундук Дейви Джонса»<br />
<span class="bla">Главное за ним не отправиться!</span> <span class="sostav">(семга с/с Шеф-посола, масляная х/к, креветки, авокадо, помидоры, огурцы , маслины, оливки, лимон, фирменный соус)</span></td>
<td class="ves">180г</td>
<td class="cena">690р.</td>
</tr>
<tr>
<td>Фирменный Салат «Черная Жемчужина»<br />
<span class="bla">Это вам не Оливье!</span> <span class="sostav">(Семга с/с Шеф-посола, рыба масляная х/к, креветки, сыр, икра палтуса, икра лососевая, перепелиное яйцо, огурцы «Миринда», молодой картофель , фирменный соус)</span></td>
<td class="ves">200г</td>
<td class="cena">750р.</td>
</tr>
<tr>
<td>Фирменный теплый Салат «Губернатор Ямайки»<br />
<span class="bla">Такой же богатый!</span> <span class="sostav">(Салат листовой, перепелиное яйцо, помидоры «Черри», гребешки, кальмары, тигровые креветки, маслины, оливки, сливочный соус)</span></td>
<td class="ves">220г</td>
<td class="cena">850р.</td>
</tr>
</tbody>
</table>
<div id="tabs-132-0-2">
<article id ="hot"><h3>Горячие закуски и Гарниры</h3></article>
<table class="menu_eda">
<tbody>

<tr>
<td>Отварной Картофель «Юнга»<br />
<span class="bla">Эй, на камбузе, обед готов?</span> <span class="sostav">(Молодой картофель со сливочным маслом и зеленью)</span></td>
<td class="ves">150г</td>
<td class="cena">200р.</td>
</tr>
<tr>
<td>Картофельное пюре «Кают-Компания»<br />
<span class="bla">У нас гораздо вкуснее!</span> <span class="sostav">(Пюрешка со сливочным маслом и жареным луком)</span></td>
<td class="ves">150г</td>
<td class="cena">250р.</td>
</tr>
<tr>
<td>Фирменный Картофель «Айдахо»<br />
<span class="bla">Освободите мои плавники, хочу еще!</span> <span class="sostav">(Обжаренные ломтики молодого картофеля с чесноком и зеленью)</span></td>
<td class="ves">150г</td>
<td class="cena">250р.</td>
</tr>
<tr>
<td>Картофель Фри «Гнутая мачта»<br />
<span class="bla">Вкусно и точка!</span> <span class="sostav">(Картофельная соломка, обжаренная во фритюре, подается с соусом &#171;Хайнц&#187;)</span></td>
<td class="ves">150г</td>
<td class="cena">300р.</td>
</tr>
<tr>
<td>Рис с грибами «Искатель Сокровищ»<br />
<span class="bla">Чем тверже рис, тем мягче хлеб!</span> <span class="sostav">Рис, грибы и сыр, приготовленный по фирменному рецепту повара)</span></td>
<td class="ves">200г</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Овощной микс «Ветер перемен» на пару или гриле<br />
<span class="bla">Будешь здоровей, со здоровым питанием!</span> <span class="sostav">Капуста цветная, брокколи, брюссельская, приготовленная на пару с оливковым маслом</span></td>
<td class="ves">150г</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Жульены Грибной, Куриный<br />
<span class="bla">Старо как мир, но как-же вкусно!</span> <span class="sostav">(Жареные шампиньоны или кусочки куриного филе с луком, запеченные в сливочном соусе под сырной шапкой)</span></td>
<td class="ves">100г</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Жульен с Морепродуктами<br />
<span class="bla">Совсем не старо, но гораздо вкуснее!</span> <span class="sostav">(Морской коктейль, запеченные в сливочном соусе под шапкой из сыра</span></td>
<td class="ves">100г</td>
<td class="cena">390р.</td>
</tr>
<tr>
<td>Овощи гриль «Черная Метка»<br />
<span class="bla">Свистать всех на верх!</span> <span class="sostav">(Баклажаны, кабачки, болгарский перец, обжаренные на гриле)</span></td>
<td class="ves">200г</td>
<td class="cena">390р.</td>
</tr>
<tr>
<td>Шампиньоны на гриле &#171;Бунт на палубе&#187;<br />
<span class="bla">Очень вкусно!</span> <span class="sostav">Маринованные шампиньоны на углях</span></td>
<td class="ves">150г</td>
<td class="cena">400р.</td>
</tr>
<tr>
<td>Горячая сковородка «Ржавый Якорь»<br />
<span class="bla">На абордаж!</span> <span class="sostav">(Жареный картофель на выбор: с луком и беконом; грибами или помидорами с зеленью и сыром)</span></td>
<td class="ves">300г</td>
<td class="cena">450р.</td>
</tr>
<tr>
<td>Теплые блинчики «Двойной удар»<br />
<span class="sostav">(Два тёплых блинчика с начинкой из курицы и грибов, запечённых во фритюре, подаются с соусом Тар-тар)</span></td>
<td class="ves">250/50г</td>
<td class="cena">460р.</td>
</tr>
</tbody>
</table>
<div id="tabs-132-0-3">
<article id ="sup"><h3>Супы</h3></article>
<table class="menu_eda">
<tbody>
<tr>
<td>Суп-Лапша «Щупальца»<br />
<span class="bla">Оттянет, так оттянет …</span> <span class="sostav">(Куриный бульон с домашней лапшой)</span></td>
<td class="ves">300г</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Борщ «Михалыч» с пампушками<br />
<span class="bla">Ничего личного, это деловой подход!</span> <span class="sostav">(Традиционный русский борщ из говядины, со сметаной, чесночными пампушками и зеленью)</span></td>
<td class="ves">300/30г</td>
<td class="cena">370р.</td>
</tr>
<tr>
<td>Крем-суп «Французский Поцелуй»<br />
<span class="bla">Иногда лучше молчать, чем говорить!</span> <span class="sostav">(Нежнейший суп из шампиньонов, лука и сливок, подается с гренками)</span></td>
<td class="ves">300г</td>
<td class="cena">390р.</td>
</tr>
<tr>
<td>Домашние Пельмени «Флибустьер»<br />
<span class="bla">Подумать только, тоже пират!</span> <span class="sostav">(Домашние пельмени собственного приготовления в горшочке с маслом, сметана, майонез на выбор )</span></td>
<td class="ves">300/30г</td>
<td class="cena">490р.</td>
</tr>
<tr>
<td>Мясная Солянка «Загрузка Трюма»<br />
<span class="bla">Очень плотненько!</span> <span class="sostav">(Вкуснейшая солянка из говяжьего языка, телятины, куриного филе и грудинки, подается со сметаной)</span></td>
<td class="ves">300/30г</td>
<td class="cena">490р.</td>
</tr>
<tr>
<td>Харчо «Свистать всех на верх»<br />
<span class="bla">Что-то там точно есть!</span> <span class="sostav">Наваристый суп с бараниной, томатом, рисом, чесноком, кинзой, алычой, хмели-сунели</span></td>
<td class="ves">300г</td>
<td class="cena">520р.</td>
</tr>
<tr>
<td>Наваристая Уха «Рыбная Таверна»<br />
<span class="bla">Наваристая ушица!</span> <span class="sostav">Наваристый суп из трёх видов рыбы: сёмга, судак, треска</span></td>
<td class="ves">300г</td>
<td class="cena">520р.</td>
</tr>
<tr>
<td>Крем-Суп из сёмги «Тишина на Палубе»<br />
<span class="bla">Когда я ем, я глух и нем!</span> <span class="sostav">(Суп из Семги, сыра «Филадельфия», сливок, подается с чесночными гренками)</span></td>
<td class="ves">300/30г</td>
<td class="cena">580р.</td>
</tr>
</tbody>
</table>
<article id = "pasta"><h3>Паста</h3></article>
<table class="menu_eda">
<tbody>

<tr>
<td>Паста «Карбонара»<br />
<span class="bla">Классика жанра!</span> <span class="sostav">Спагетти с тонкими ломтиками бекона в сливочном соусе под сыром «Пармезан»</span></td>
<td class="ves">250г</td>
<td class="cena">550р.</td>
</tr>
<tr>
<td>Паста «Болоньезе»<br />
<span class="bla">Тоже не плохо!</span> <span class="sostav">Спагетти с ароматным мясным соусом «Болоньезе» и сыром «Пармезан»</span></td>
<td class="ves">250г</td>
<td class="cena">550р.</td>
</tr>
<tr>
<td>Паста «Пене с сёмгой»<br />
<span class="bla">Дорого и со вкусом!</span> <span class="sostav">Пене с сёмгой в сливках, с томатами &#171;Черри&#187; и сыром &#171;Пармезан&#187;</span></td>
<td class="ves">250г</td>
<td class="cena">680р.</td>
</tr>
<tr>
<td>Фирменная Паста «Black Pearl»<br />
<span class="bla">Потрясное блюдо!</span> <span class="sostav">(Спагетти с чернилами каракатицы, которые придают блюду особый вкус с морепродуктами: гребешки, тигровые креветки, мидии, осьминог, кальмары в сливочном соусе под сыром «Пармезан», красная икра, икра палтуса)</span></td>
<td class="ves">280г</td>
<td class="cena">750р.</td>
</tr>
</tbody>
</table>
<div id="tabs-132-0-4">
    <article id="hot-melt"><h3>Горячие мясные блюда</h3></article>
<table class="menu_eda">
<tbody>
<tr>


<td>Курица по-французски «Шрапнель»<br />
<span class="bla">Лучше курица в тарелке, чем журавль в небе!</span> <span class="sostav">(Куриное филе запеченное с помидорами и грибным жульеном)</span></td>
<td class="ves">180г</td>
<td class="cena">480р.</td>
</tr>
<tr>
<td>Свиные рёбрышки «Разрази меня гром»<br />
<span class="bla">Если ты ждал подходящего момента, это был он!</span> <span class="sostav">(Свиные ребрышки в соусе &#171;Барбекю&#187;)</span></td>
<td class="ves">250г</td>
<td class="cena">520р.</td>
</tr>
<tr>
<td>Шеф-Котлета «Пиратский Анекдот»<br />
<span class="bla">Всем нравится, но уже мало, кто смеется!</span> <span class="sostav">(Куриное филе фаршированное сыром и сливочным маслом в панировке)</span></td>
<td class="ves">180г</td>
<td class="cena">560р.</td>
</tr>
<tr>
<td>Запечённая свинина «Старина Морган»<br />
<span class="bla">Старина, тебя заждались!</span> <span class="sostav">(свинина запеченная с помидорами, грибным жульеном под сыром)</span></td>
<td class="ves">180г</td>
<td class="cena">580р.</td>
</tr>
<tr>
<td>Свиная корейка «Боцман Во хмелю»<br />
<span class="bla">Так и хочется разорвать этого кабана!</span> <span class="sostav">(Свиная корейка Flambee фаршированная беконом и шампиньонами, под сливочно-грибным соусом)</span></td>
<td class="ves">180г</td>
<td class="cena">620р.</td>
</tr>
<tr>
<td>Медальон «Дублон» в беконе<br />
<span class="bla">Такие же круглые и блестящие!</span> <span class="sostav">(Три медальона из свиной вырезки в беконе, с грибами, картофелем, болгарским перцем)</span></td>
<td class="ves">180г</td>
<td class="cena">750р.</td>
</tr>
<tr>
<td>Каре ягненка «Страсть Корсара»<br />
<span class="bla">У корсара две страсти, пиастры и ягненок, второе на первом месте.</span> <span class="sostav">(Каре ягненка, овощи гриль, соус «Домашний»)</span></td>
<td class="ves">150/50/30г</td>
<td class="cena">770р.</td>
</tr>
<tr>
<td>Телячьи медальоны «Слепой Пью»<br />
<span class="bla">Кушать надо часто, но понемногу!</span> <span class="sostav">(Говяжья вырезка, обжаренная на гриле в винном соусе, помидоры &#171;Черри&#187;, зелень, овощи-гриль, соус &#171;Зернистый&#187;)</span></td>
<td class="ves">180г</td>
<td class="cena">850р.</td>
</tr>
<tr>
<td>Мраморный стейк «Черная Борода»<br />
<span class="bla">Бери все и не отдавай ничего!</span> <span class="sostav">(Мраморный стейк с овощным гарниром и фирменным соусом)</span></td>
<td class="ves">180/50/30г</td>
<td class="cena">1100р.</td>
</tr>

<tr>
<td>Шашлык из курицы «Фартовый Охотник»<br />
<span class="bla">Думай как я, тогда смекнешь!</span> <span class="sostav">Куриные кусочки обжаренные на мангале, подаются с луком и фирменным соусом</span></td>
<td class="ves">180/30г</td>
<td class="cena">430р.</td>
</tr>
<tr>
<td>Люля-Кебаб из птицы «Попугай Флинта»<br />
<span class="bla">Курица не попугай, но тоже птица! Пиастры, Пиастры!</span> <span class="sostav">(Ароматные колбаска Шеф-Люля из курицы обжаренные на мангале, подаются с луком и фирменным соусом)</span></td>
<td class="ves">170/30г</td>
<td class="cena">460р.</td>
</tr>
<tr>
<td>Шашлык из свинины «Веселый Роджер»<br />
<span class="bla">Йо-хо-хо и бутылку Рома!</span> <span class="sostav">(Кусочки из свиной шейки обжаренные на мангале, подаются с луком и фирменным соусом)</span></td>
<td class="ves">180/30г</td>
<td class="cena">550р.</td>
</tr>
<tr>
<td>Шашлык из барашка «Молчание Ягнят»<br />
<span class="bla">Жуёшь так, что уши закладывает!</span> <span class="sostav">(Кусочки молодого барашка в Шеф-Маринаде, обжаренные на мангале, подаются с луком и соусом)</span></td>
<td class="ves">180/30г</td>
<td class="cena">700р.</td>
</tr>
<tr>
<td>Люля-Кебаб из баранины «На Абордаж»<br />
<span class="bla">Все рубим на мелкие кусочки!</span> <span class="sostav">(Ароматная колбаска Шеф-Люля из баранины, красный лук, фирменный соус)</span></td>
<td class="ves">170/30г</td>
<td class="cena">730р.</td>
</tr>
<tr>
<td>Ассорти шашлыков «Пираты Карибского Моря» садж<br />
<span class="bla">Неприкосновенный запас Джека Воробья!</span> <span class="sostav">(Мясной пир в изобилии шашлыков и люля из птицы, свинины, баранины, на гарнир овощи гриль, картофель &#171;Айдахо&#187; с луком и соусом)</span></td>
<td class="ves">900/800/100г.</td>
<td class="cena">3900р.</td>
</tr>
</tbody>
</table>
<h3>Горячие рыбные блюда</h3>
<table class="menu_eda">
<tbody>
<tr>
<td>Филе трески «Полные Сети»<br />
<span class="bla">Просто улет!</span> <span class="sostav">(Филе трески под сыром в миндальной панировке, салатный микс)</span></td>
<td class="ves">180г</td>
<td class="cena">590р.</td>
</tr>
<tr>
<td>Филе морского окуня «Морской дозор»<br />
<span class="bla">Не сдавайся, съешь ещё!</span> <span class="sostav">(Панированное филе окуня, запечённое во фритюре. Подается со спаржей, гороховым пюре и соусом &#171;Маракуя&#187;)</span></td>
<td class="ves">150/50/30г</td>
<td class="cena">630р.</td>
</tr>
<tr>
<td>Филе судака «Девятый Вал»<br />
<span class="bla">Туда судак, суда Тудак!</span> <span class="sostav">(Филе судака в кляре из сыра с овощами)</span></td>
<td class="ves">180/70г</td>
<td class="cena">650р.</td>
</tr>
<tr>
<td>Запечённая форель «Грёзы русалки»<br />
<span class="bla">Пойдет на завтрак к акулам!</span> <span class="sostav">(Запеченная речная форель, фаршированная творожным сыром и мясом криля. Украшена лимоном и зеленью.)</span></td>
<td class="ves">300г</td>
<td class="cena">790р.</td>
</tr>
<tr>
<td>Стейк из семги «Летучий Голландец»<br />
<span class="bla">Произведение искусства!</span> <span class="sostav">(Нежное филе семги обжаренное на гриле, подается с капустой брокколи, цветной капустой, болгарским перцем, брюссельской капустой и соусом «Тар-тар»)</span></td>
<td class="ves">160/80/30г</td>
<td class="cena">980р.</td>
</tr>

<tr>
<td>Радужная Форель «Вырви Глаз»<br />
<span class="bla">Жесткий стандарт!</span><span class="sostav">Речная форель со специями приготовленная на углях, салатный микс и соус «Наршараб»</span></td>
<td class="ves">180/50/30</td>
<td class="cena">690р.</td>
</tr>
<tr>
<td>Си-Басс «Морской Волк»<br />
<span class="bla">Рад видеть тебя снова!</span><span class="sostav">Запеченный на углях Си-Басс, салат микс, соус «Наршараб»</span></td>
<td class="ves">280/50/30</td>
<td class="cena">790р.</td>
</tr>
<tr>
<td>Дорадо «Рыбья Харя»<br />
<span class="bla">Ихтиандр отдыхает!</span><span class="sostav">Cредиземноморская рыба с ароматными травами обжаренная на углях, подается с салатным миксом и винным соусом</span></td>
<td class="ves">280/50/30</td>
<td class="cena">790р.</td>
</tr>
<tr>
<td>Стейк из семги «Абырвал»<br />
<span class="bla">Ничего личного, это деловой подход!</span><span class="sostav">Филе семги Шеф-Маринада, салатный мик и соус «Наршараб»</span></td>
<td class="ves">160/50/30</td>
<td class="cena">950р.</td>
</tr>
</tbody>
</table>
</div>
</div><div id="tabs-132-0-7">
<h3>Соусы</h3>
<table class="menu_eda">
<tbody>
<tr>
<td>Соусы в ассортименте: «Ткемали», «Сырный», «Соевый», «Чесночный», «Наршараб», «Барбекю», «Тар-тар», хрен, горчица, кетчуп, майонез, сметана, сливочное масло</td>
<td class="ves">50г</td>
<td class="cena">100р.</td>
</tr>
<tr>
<td>Соус фирменный к мясу</td>
<td class="ves">50г</td>
<td class="cena">100р.</td>
</tr>
<tr>
<td>Соус фирменный к рыбе</td>
<td class="ves">50г</td>
<td class="cena">100р.</td>
</tr>
<tr>
<td>Универсальный домашний соус</td>
<td class="ves">50г</td>
<td class="cena">100р.</td>
</tr>
</tbody>
</table>


<article id="burger"><h3>Бургеры</h3></article>
<table class="menu_eda1">
<tbody>
<tr>
<td>Детский «Чикен» бургер<br />
<span class="sostav">Булка, бифштекс куриный, салат листовой, томаты, огурцы, сладкий соус, сыр, картофель фри.</span></td>
<td class="ves">180/50г.</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Классический «Гранд» бургер<br />
<span class="sostav">Булка с кунжутом, бифштекс свиной, салат листовой, томаты, соленый огурцы, острый соус, сыр, картофель фри.</span></td>
<td class="ves">250/50г.</td>
<td class="cena">450р.</td>
</tr>
<tr>
<td>Фирменный «Black» бургер<br />
<span class="sostav">Черная булка с кунжутом, бифштекс из говядины, салат листовой, томаты, соленые огурцы, красный лук, соус, сыр, картофель фри.</span></td>
<td class="ves">300/50г.</td>
<td class="cena">500р.</td>
</tr>
</tbody>
</table>
<h3>Пивное предложение</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Арахис соленый</td>
<td class="ves">100г</td>
<td class="cena">200р</td>
</tr>
<tr>
<td>Восточные фисташки</td>
<td class="ves">100г</td>
<td class="cena">300р</td>
</tr>
<tr>
<td>Картофельные чипсы</td>
<td class="ves">80г</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Фирменные Гренки «Дары капитана» <span class="sostav">ржаные гренки с чесноком и соусом &#171;Тар-тар&#187;</span></td>
<td class="ves">150/30г</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Куриные крылышки «Морской дьявол»</td>
<td class="ves">200г</td>
<td class="cena">430р</td>
</tr>
<tr>
<td>Куриные Пальчики <span class="bla">в хрустящей панировке</span><br />
<span class="sostav">Подаются с томатным соусом</span></td>
<td class="ves">150/30г</td>
<td class="cena">430р</td>
</tr>
<tr>
<td>Кольца Кальмара <span class="bla">обжаренные во фритюре</span><br />
<span class="sostav">Подаются с соусом &#171;Тар-тар&#187;</span></td>
<td class="ves">150/30г</td>
<td class="cena">490р</td>
</tr>
<tr>
<td>Обжаренные сырные шарики  «Глаза акулы»<br />
<span class="sostav">Подаются с соусом &#171;Тар-тар&#187;</span></td>
<td class="ves">150/30г</td>
<td class="cena">520р</td>
</tr>
<tr>
<td>Креветки отварные «Тысяча Чертей»<br />
<span class="sostav">Подаются с соевым соусом и долькой лимона</span></td>
<td class="ves">150г</td>
<td class="cena">550р</td>
</tr>
<tr>
<td>Тигровые креветки на шпажках<br />
<span class="sostav">Креветки с болгарским перчиком, обжаренные на гриле</span></td>
<td class="ves">100г</td>
<td class="cena">690р</td>
</tr>
<tr>
<td>Пивная тарелка «Пенная бухта»<br />
<span class="sostav">Картофель фри, куриные стрипсы, креветки, гренки, кольца кальмара, томатный соус и соус &#171;Тар-тар&#187;</span></td>
<td class="ves">600/60г</td>
<td class="cena">1300р</td>
</tr>
</tbody>
</table>
</div>
</div><div id="tabs-132-0-8">
<article id = "pivo"><h3>Пиво Бочковое</h3></article>
<table class="menu_eda1">
<tbody>
<tr>
<td>Efes Pilsener Premium Beer</td>
<td class="ves">0,33/0,5л</td>
<td class="cena">200/250р</td>
</tr>
<tr>
<td>Tuborg Green Premium Beer</td>
<td class="ves">0,33/0,5л</td>
<td class="cena">200/250р</td>
</tr>
</tbody>
</table>
<h3>Пиво бутылочное</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Premium Beer «Андреич»</td>
<td class="ves">0,5л</td>
<td class="cena">230р</td>
</tr>
<tr>
<td>Premium Beer «Алтай»</td>
<td class="ves">0,5л</td>
<td class="cena">230р</td>
</tr>
<tr>
<td>Premium Beer «Лещ»</td>
<td class="ves">0,5л</td>
<td class="cena">230р</td>
</tr>
<tr>
<td>Kozel Velkopopovicky Svetly / Cernu</td>
<td class="ves">0,45л</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Tuborg Beer </td>
<td class="ves">0,45л</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Efes Pilsener Premium Beer</td>
<td class="ves">0,45л</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Bavaria Holland / Malt Beer &#8212; 0,0%</td>
<td class="ves">0,45л</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Hoegaarden witbier</td>
<td class="ves">0,45л</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Shpaten Beer</td>
<td class="ves">0,5л</td>
<td class="cena">400р</td>
</tr>
</tbody>
</table>
<div id="tabs-132-0-9">
<article id = "tort"><h3>Десерты</h3></article>
<table class="menu_eda">
<tbody>
<tr>
<td>Мед</td>
<td class="ves">30г</td>
<td class="cena">100р</td>
</tr>
<tr>
<td>Мороженое шарик <span class="sostav">(Шоколад, ваниль, клубника)</span></td>
<td class="ves">50г</td>
<td class="cena">150р</td>
</tr>
<tr>
<td>Блинчики «Три товарища» с джемом или медом</td>
<td class="ves">150/50г</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Десерт «Шоколадный Бриз»<br />
<span class="sostav">Мороженое, взбитые сливки, шоколадный сироп, шоколадная крошка</span></td>
<td class="ves">150г</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Чизкейк «Нью-Йорк»<br />
<span class="sostav">(Классический, клубничный, малиновый)</span></td>
<td class="ves">100г</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Торт «Брусничный»<br />
<span class="sostav">(С белым шоколадом)</span></td>
<td class="ves">150г</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Пирожное «Брауни»
</td>
<td class="ves">100г</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Тарталетка<br />
<span class="sostav">Клубника/малина</span></td>
<td class="ves">100г</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Пирожное муссовое<br />
<span class="sostav">(чёрная смородина/манго-маракуя)</span></td>
<td class="ves">100г</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Торт «Тирамису»</td>
<td class="ves">100г</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Торт «Ред Вельвет»</td>
<td class="ves">150г</td>
<td class="cena">420р.</td>
</tr>
<tr>
<td>Торт «Фисташковый»</td>
<td class="ves">150г</td>
<td class="cena">420р.</td>
</tr>
<tr>
<td>Штрудель «Перст Судьбы»<br />
<span class="sostav">Пирог из слоеного теста с начинкой на выбор: из яблок, вишни, банана. Подается с шариком мороженого</span></td>
<td class="ves">100/50г</td>
<td class="cena">420р.</td>
</tr>
<tr>
<td>Фруктовый рай «Остров сокровищ»<br />
<span class="sostav">Фруктовая нарезка сезонных фруктов</span></td>
<td class="ves">500г</td>
<td class="cena">550р.</td>
</tr>
<tr>
<td>Фруктовая ваза «Коралловый Риф»</td>
<td class="ves">1,2кг</td>
<td class="cena">1300р.</td>
</tr>
</tbody>
</table>
<div id="tabs-132-0-10">
<article id = "coffe"><h3>Кофе-Чай</h3></article>
<table class="menu_eda">
<tbody>
<tr>
<td>Молоко, Сливки</td>
<td class="ves">20/20мл</td>
<td class="cena">60/80р.</td>
</tr>
<tr>
<td>Caffe «Espresso»</td>
<td class="ves">50мл</td>
<td class="cena">150р.</td>
</tr>
<tr>
<td>Caffe «Americano»</td>
<td class="ves">100мл</td>
<td class="cena">180р.</td>
</tr>
<tr>
<td>Caffe «Cappuccino»</td>
<td class="ves">120мл</td>
<td class="cena">200р.</td>
</tr>
<tr>
<td>Caffe «Double Espresso»</td>
<td class="ves">120мл</td>
<td class="cena">230р.</td>
</tr>
<tr>
<td>Caffe «Гляссе»<br />
<span class="sostav">Классический кофе с мороженным</span></td>
<td class="ves">100мл</td>
<td class="cena">290р.</td>
</tr>
<tr>
<td>Caffe Latte «Классик»<br />
<span class="sostav">Классический трехслойный кофе</span></td>
<td class="ves">230мл</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Caffe «RAF»<br />
<span class="sostav">Кофе &#171;Эспрессо&#187; со сливками. Подача тёплым напитком</span></td>
<td class="ves">230мл</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Caffe «Cappucino Double»
</td>
<td class="ves">300мл</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Caffe Alco «Black Pearl»<br />
<span class="sostav">Фирменный кофе со взбитыми сливками и добавлением Рома Bacardi</span></td>
<td class="ves">150/30</td>
<td class="cena">420р.</td>
</tr>
<tr>
<td>Чёрный чай «Кения»</td>
<td class="ves">600мл</td>
<td class="cena">300р.</td>
</tr>
<tr>
<td>Чай черный «Эрл Грей»</td>
<td class="ves">600мл</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Чёрный чай «Порох»</td>
<td class="ves">600мл</td>
<td class="cena">400р.</td>
</tr>
<tr>
<td>Чай зеленый с жасмином</td>
<td class="ves">600мл</td>
<td class="cena">400р.</td>
</tr>
<tr>
<td>Чайный напиток &#171;Облепиховый&#187;<br />
<span class="sostav">Чай чёрный, облепиха, имбирь.</span></td>
<td class="ves">600мл</td>
<td class="cena">450р.</td>
</tr>
<tr>
<td>Чайный напиток &#171;Цитрусовый микс&#187;<br />
<span class="sostav">Чай чёрный, апельсин, лимон, грейпфрут.</span></td>
<td class="ves">600мл</td>
<td class="cena">450р.</td>
</tr>
<tr>
<td>Чайный напиток &#171;Ягодный&#187;<br />
<span class="sostav">Чай чёрный, ягоды смородины, клюквы, вишни.</span></td>
<td class="ves">600мл</td>
<td class="cena">450р.</td>
</tr>
<tr>
<td>Чайный напиток &#171;Облепиховый&#187;<br />
<span class="sostav">Чай чёрный, облепиха, ягоды или цитрусовые.</span></td>
<td class="ves">900мл</td>
<td class="cena">690р.</td>
</tr>
<tr>
<td>Чай на компанию в термосе<br />
<span class="sostav">Чай чёрный или зеленый в термосе на большую компанию.</span></td>
<td class="ves">2л</td>
<td class="cena">900р.</td>
</tr>
</tbody>
</table>
</div>
</div><div id="tabs-132-0-11">
<article id = "drink"><h3>Напитки и Коктейли</h3></article>
<table class="menu_eda">
<tbody>
<tr>
<td>Cок J7, Я<br />
<span class="sostav">Яблоко, Апельсин, Томат, Вишня, Виноград, Ананас</span></td>
<td class="ves">200мл</td>
<td class="cena">130р.</td>
</tr>
<tr>
<td>Морс/Компот<br />
<span class="sostav">Ягодный сбор, клюква</span></td>
<td class="ves">200мл</td>
<td class="cena">150р.</td>
</tr>
<tr>
<td>Эвервесс Кола, Апельсин, Лайм, Аква<br />
<span class="sostav">Газированная вода в фирменной стеклянной бутылке</span></td>
<td class="ves">250мл</td>
<td class="cena">200р.</td>
</tr>
<tr>
<td>Нарзан, Рычал Су, Аква Минерале<br />
<span class="sostav">Минеральная Вода в Bottle</span></td>
<td class="ves">500мл</td>
<td class="cena">200р.</td>
</tr>
<tr>
<td>Лимонад в ассортименте<br />
<span class="sostav">Тархун, Ситро, Дюшес в стеклянной бутылке</span></td>
<td class="ves">500мл</td>
<td class="cena">200р.</td>
</tr>
<tr>
<td>Адреналин Раш<br />
<span class="sostav">Энергетический напиток</span></td>
<td class="ves">250мл</td>
<td class="cena">300р.</td>
</tr>
<tr>
<td>Cок J7, Я<br />
<span class="sostav">В ассортименте</span></td>
<td class="ves">950мл</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Молочный Коктейль «Медуза»<br />
<span class="sostav">Ванильный, Клубничный, Шоколадный</span></td>
<td class="ves">250мл</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Свежевыжатый сок «Витаминка»<br />
<span class="sostav">Яблоко, Апельсин, Грейпфрут, Морковь</span></td>
<td class="ves">200мл</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Домашний компот<br />
<span class="sostav">Компот собственного приготовления</span></td>
<td class="ves">1л</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Освежающий морс<br />
<span class="sostav">Ягодный сбор, клюква</span></td>
<td class="ves">1л</td>
<td class="cena">400р.</td>
</tr>
<tr>
<td>Безалкогольные Коктейли «Mix»<br />
<span class="sostav">Мохито, Санрайз, Пина Колада</span></td>
<td class="ves">250мл</td>
<td class="cena">400р.</td>
</tr>
</tbody>
</table>
</div>
</div><div id="tabs-132-0-12">
<h3>АlcoCocktail</h3>
<table class="menu_eda">
<tbody>
<tr>
<td>«Глинтвейн»<br />
<span class="sostav">Красное сухое вино, специи</span></td>
<td class="ves">200мл</td>
<td class="cena">420р.</td>
</tr>
<tr>
<td>«Sex on the Beach»<br />
<span class="sostav">Водка, ликер, ананасовый сок</span></td>
<td class="ves">140мл</td>
<td class="cena">420р.</td>
</tr>
<tr>
<td>«Текила Бум»<br />
<span class="sostav">Текила, содовая, лимон</span></td>
<td class="ves">140мл</td>
<td class="cena">450р.</td>
</tr>
<tr>
<td>«Текила Санрайз»<br />
<span class="sostav">Текила, сок, апельсин, гренадин, лимон, лёд</span></td>
<td class="ves">250мл</td>
<td class="cena">450р.</td>
</tr>
<tr>
<td>«Б-52», «Б-53»<br />
<span class="sostav">Ликер &#171;Калуа&#187;, &#171;Бейлиз&#187;, &#171;Куантро/Абсент&#187; </span></td>
<td class="ves">60мл</td>
<td class="cena">5500р.</td>
</tr>
<tr>
<td>«Оргазм»<br />
<span class="sostav">Ликёр &#171;Калуа&#187;, &#171;Бейлиз&#187;, лёд, сливки</span></td>
<td class="ves">200мл</td>
<td class="cena">550р.</td>
</tr>
<tr>
<td>«Май_Тай»<br />
<span class="sostav">Ром, ликер &#171;Куантро&#187;, гренадин, лёд</span></td>
<td class="ves">200мл</td>
<td class="cena">550р.</td>
</tr>
<tr>
<td>«Маxито»<br />
<span class="sostav">Ром, содовая, мята, лайм, лёд</span></td>
<td class="ves">250мл</td>
<td class="cena">550р.</td>
</tr>
<tr>
<td>«Маргарита»<br />
<span class="sostav">Текила, ликер &#171;Куантро&#187;, лайм</span></td>
<td class="ves">180мл</td>
<td class="cena">590р.</td>
</tr>
<tr>
<td>«Голубые Гавайи»<br />
<span class="sostav">Ром, водка, сироп, апельсиновый сок</span></td>
<td class="ves">180мл</td>
<td class="cena">590р.</td>
</tr>
<tr>
<td>«Пина Колада»<br />
<span class="sostav">Ликер &#171;Малибу&#187;, ананасовый сок, лайм, сливки, лёд</span></td>
<td class="ves">250мл</td>
<td class="cena">590р.</td>
</tr>
<tr>
<td>«Контрольный выстрел»<br />
<span class="sostav">Текила, ром, водка, джин, виски, кола, лайм</span></td>
<td class="ves">200мл</td>
<td class="cena">690р.</td>
</tr>
</tbody>
</table>
</div>
</div><div id="tabs-132-0-13">
<h3>Винная Карта </h3> <h4>«Испания»</h4>
<table class="menu_eda1">
<tbody>
<tr>
<td>Verano /Terra Natal<br />
<span class="sostav">белое, красное, п/сух, п/сл</span>  </td>
<td class="ves">250/750мл</td>
<td class="cena">450/1200р</td>
</tr>
<tr>
<td>Jaleo / Халео<br />
<span class="sostav">белое/красное п/сл</span>
</td>
<td class="ves">750мл</td>
<td class="cena">1200р</td>
</tr>
<tr>
<td>Campo de flores<br />
<span class="sostav">белое/красное сухое, п/сладкое</span> </td>
<td class="ves">750мл</td>
<td class="cena">12000р</td>
</tr>
<tr>
<td>Vegal del Campo / Вега дель Кампо<br />
<span class="sostav">бел. сух.</span></td>
<td class="ves">750мл</td>
<td class="cena">1250р</td>
</tr>
<tr>
<td>Vegal del Campo белое сух.</td>
<td class="ves">750мл</td>
<td class="cena">1900р</td>
</tr>
</tbody>
</table>
<h4>«Италия»</h4>
<table class="menu_eda1">
<tbody>
<tr>
<td>Alma Romana/ Альма Романа<br />
<span class="sostav">Шардоне, Рубиконе, Пино Гриджио п/сухое</span>
</td>
<td class="ves">750 мл</td>
<td class="cena">1200р.</td>
</tr>
<tr>
<td>&#171;CorteArcadia&#187; Montepulciano/ Suave<br />
<span class="sostav">белое, красное сухое</span>   </td>
<td class="ves">750 мл</td>
<td class="cena">1200р.</td>
</tr>
<tr>
<td>&#171;CorteArcadia&#187; Chianti/ Pinot Grigio<br />
<span class="sostav">белое, красное сухое</span>   </td>
<td class="ves">750 мл</td>
<td class="cena">1800р.</td>
</tr>
</tbody>
</table>
<h4>«Франция»</h4>
<table class="menu_eda1">
<tbody>
<tr>
<td>Louis Montier<br />
<span class="sostav">красное, белое п/слад., сух.</span> </td>
<td class="ves">250/750 мл</td>
<td class="cena">550/1500р.</td>
</tr>
<tr>
<td>Chatenet Cuvee Speciale<br />
<span class="sostav">красное/ белое сух.</span></td>
<td class="ves">750 мл</td>
<td class="cena">1500р.</td>
</tr>
<tr>
<td>Selection des Chateaux de Bordeaux<br />
<span class="sostav">красное, белое сух.</span> </td>
<td class="ves">750 мл</td>
<td class="cena">2400р.</td>
</tr>
</tbody>
</table>
</div>
<h3>Игристые Вина</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>&#171;Лев Голицин&#187;<br />
<span class="sostav">Брют, п/сл. Россия</span> </td>
<td class="ves">200мл</td>
<td class="cena">400р</td>
</tr>
<tr>
<td>&#171;Коронационное&#187;<br />
<span class="sostav">Брют, п/сл. Россия</span> </td>
<td class="ves">750мл</td>
<td class="cena">1100р</td>
</tr>
<tr>
<td>&#171;Абрау Дюрсо&#187;<br />
<span class="sostav">Брют, п/сл. Россия</span> </td>
<td class="ves">750мл</td>
<td class="cena">1100р</td>
</tr>
<tr>
<td>&#171;Фиестино&#187; Дольче<br />
<span class=&#187;sostav&#187;>Брют, п/сл. 9,5% Италия</span>
</td>
<td class="ves">750 мл</td>
<td class="cena">1500р</td>
</tr>
<td>&#171;Людовик XIV&#187;<br />
<span class=&#187;sostav&#187;>Брют, п/сл. Франция</span>
</td>
<td class="ves">750 мл</td>
<td class="cena">1900р</td>
</tr>
</tbody>
</table>
<h3>АlcoМix</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Rum-Cola, Whiskey-Cola</td>
<td class="ves">150 м</td>
<td class="cena">490р</td>
</tr>
<tr>
<td>Martini-Juice,  Gin-Tonic</td>
<td class="ves">150 м</td>
<td class="cena">490р</td>
</tr>
</tbody>
</table>
<h3>Вермуты</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Martini*Bianco, Martini*Extra Dry</td>
<td class="ves">50 мл</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Martini*Rosso, Martini*Rosato</td>
<td class="ves">50 мл</td>
<td class="cena">250р</td>
</tr>
</tbody>
</table>
<div id="tabs-132-0-15">
<h3>Ром</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Kaptain Morgan (Gold)</td>
<td class="ves">50 мл</td>
<td class="cena">300р.</td>
</tr>
<tr>
<td>Bacardi (Superior, Black)</td>
<td class="ves">50 мл</td>
<td class="cena">340р.</td>
</tr>
</tbody>
</table>
<h3>Джин</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Beefeater*London dry gin</td>
<td class="ves">50 мл</td>
<td class="cena">300р.</td>
</tr>
</tbody>
</table>
<h3>Текила</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Camino* Tequila Real, Gold</td>
<td class="ves">50 мл</td>
<td class="cena">280р.</td>
</tr>
<tr>
<td>Olmeca* Blanco, Gold</td>
<td class="ves">50 мл</td>
<td class="cena">350р.</td>
</tr>
</tbody>
</table>
<h3>Ликеры</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Campari Bitter</td>
<td class="ves">50 мл</td>
<td class="cena">200р.</td>
</tr>
<tr>
<td>Baileys</td>
<td class="ves">50 мл</td>
<td class="cena">320р.</td>
</tr>
<tr>
<td>Malibu</td>
<td class="ves">50 мл</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Sambuca</td>
<td class="ves">50 мл</td>
<td class="cena">350р.</td>
</tr>
<tr>
<td>Aperol</td>
<td class="ves">50 мл</td>
<td class="cena">300р.</td>
</tr>
<tr>
<td>Cointreau</td>
<td class="ves">50 мл</td>
<td class="cena">400р.</td>
</tr>
<tr>
<td>Kahlua</td>
<td class="ves">50 мл</td>
<td class="cena">450р.</td>
</tr>
</tbody>
</table>
<h3>Настойка</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Absent</td>
<td class="ves">50 мл</td>
<td class="cena">400р.</td>
</tr>
</tbody>
</table>
<h3>Водка</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Пять озер «Премиум»</td>
<td class="ves">50мл/0,5л</td>
<td class="cena">100р/900р</td>
</tr>
<tr>
<td>Хаски (Очищена холодом)</td>
<td class="ves">50мл/0,5л</td>
<td class="cena">120р/1100р</td>
</tr>
<tr>
<td>Белая березка (содержит березовый сок)</td>
<td class="ves">50мл/0,5л</td>
<td class="cena">130р/1200р</td>
</tr>
<tr>
<td>Царская оригинальная</td>
<td class="ves">50мл/0,5л</td>
<td class="cena">150р/1300р</td>
</tr>
<tr>
<td>Русский Стандарт*St.Petersburg</td>
<td class="ves">50 мл</td>
<td class="cena">200р</td>
</tr>
<tr>
<td>Beluga*Noble Russian Vodka</td>
<td class="ves">50 мл</td>
<td class="cena">250р</td>
</tr>
</tbody>
</table>
<h3>Коньяк</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>Старейшина 5*</td>
<td class="ves">50мл</td>
<td class="cena">200р</td>
</tr>
<tr>
<td>Кизляркий 5*</td>
<td class="ves">50мл</td>
<td class="cena">250р</td>
</tr>
<tr>
<td>Арарат 3*</td>
<td class="ves">50мл</td>
<td class="cena">300р</td>
</tr>
<tr>
<td>Арарат АНИ 6*</td>
<td class="ves">50 мл</td>
<td class="cena">380р</td>
</tr>
<tr>
<td>Hennessy VS</td>
<td class="ves">50 мл</td>
<td class="cena">600р</td>
</tr>
</tbody>
</table>
<h3>Виски</h3>
<table class="menu_eda1">
<tbody>
<tr>
<td>White Horse*Scotch whiskey</td>
<td class="ves">50мл</td>
<td class="cena">280р</td>
</tr>
<tr>
<td>Red Label*</td>
<td class="ves">50мл</td>
<td class="cena">350р</td>
</tr>
<tr>
<td>Jameson irish whiskey</td>
<td class="ves">50 мл</td>
<td class="cena">450р</td>
</tr>
<tr>
<td>Jack Daniels whiskey</td>
<td class="ves">50 мл</td>
<td class="cena">500р</td>
</tr>
<tr>
<td>Black Label Джонни Уокер</td>
<td class="ves">50 мл</td>
<td class="cena">650р</td>
</tr>
</tbody>
</table>



	    <div class="line"></div>
    <center>
<p class="par" ><strong>Кафе Клуб "Черная Жемчужина" &copy; 2006 - 2024</strong><br />
    <span class="mon"><strong>Наш адрес:</strong></span> Московская область, г.Королев, ул.Коммунальная, д.16.<br />
<span class="mon"><strong>Мы работаем:</strong></span> ежедневно с 12:00 до 24:00<br />
<span class="mon"><strong>Телефоны:</strong></span><strong> 8 (495) 516-20-63 / 8 (925) 343-20-63</strong><br />
<span class="mon">E-mail:</span> 84955162063@mail.ru<br />
<span class="mon">Наши социальные сети:</span> <strong></strong></p><a href="https://t.me/kafekorolev">
  <img src="{% static 'tg.png' %}"
       width="30" height="30"></a>
    <a href="">
  <img src="{% static 'vk.png' %}"
       width="30" height="30" ></a>
    <a href="">
  <img src="{% static 'whatsapp.png' %}"
       width="30" height="30" ></a>
</center>
</div>
<br>
    
</body>
</html>